@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  max-width: 100vw;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: 100;
}

.app_container {
  height: 100vh;
  width: 407px;
  padding: 0px 2px;
  background-color: #FEFEFC;
  border-radius: 5px;
  color: #C2C2C0;
}

.app_icon_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2px;
}

.app_icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.restaurant_card_container {
  position: relative;
  height: 500px; /* Needs a fixed height */
  width: 100%;
}