.restaurant_card {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #FEFEFC;
  border-radius: 20px;
  border: solid 3px #9FA4A9;
  padding-bottom: 10px;
  padding-bottom: 10px;
  color: #4A4A48;
  touch-action: pan-y pan-x;
  user-select: none;
}

.restaurant_pic {
  width: 400px;
  height: 400px;      /* TODO: make responsive */
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.restaurant_card_header_container {
  max-width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.restaurant_card_header_container h2 {
  flex-grow: 1;
  margin: 0 10px 0 0;
  font-size: 1.2em;
  font-weight: bold;
  word-wrap: break-word;
  max-width: calc(100% - 100px);
}

.restaurant_card_header_container h4 {
  margin: 0;
  white-space: nowrap;
  flex-shrink: 0;
}

.restaurant_card_icon_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.restaurant_icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid #EBEBEB 5px;
  padding: 2px;
}

.dislike_icon {
  color: #fd5e51;
}

.like_icon {
  color: #60D48B;
}

.restaurant_card_exit_animation {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}